		@media all and (orientation: portrait) {

			body {
				background: rgb(207, 168, 162);
			}
			.hello {
				margin-top:25vmin;
			}

			.presentation p {
				padding-bottom:5px;
			}

			/*Title section figures params*/

			.container-portrait {
			  width: 95vmin;
			  height: 95vmin;
			}

			.container-title-color {
			  background: rgb(207, 168, 162);
			}

			.container-title-color::before, .container-title-color::after {
			  background: #e086d4;
			}

			.container-portrait::before, .container-portrait::after {
			  display: none;
			}


				.square {
				  width: 47.5vmin;
				  height: 47.5vmin;
				}

				.square::before, .square::after {
				  width: 1.2%;
				  height: 67.165vmin;
				}
				.square-slide::before, .square-slide::after {
					background: rgb(117,93,86);
				}

				  .question-container {
						top:17.75vmin;
						left:17.75vmin;
					}

				.triangle-slide{
					background: rgb(117,93,86);
				}

				.triangle {
				  width: 33.59264498vmin;
				  height: 33.59264498vmin;
				}

				.triangle:nth-child(2) {
				  top: 6.9984677vmin;
				  left: 30.70367751vmin;
				}

				/*.triangle:nth-child(2):hover {
				  top: -16.79632249vmin;
				}*/

				.triangle:nth-child(3) {
				  bottom: 6.9984677vmin;
				  left: 30.70367751vmin;
				}

				/*.triangle:nth-child(3):hover {
				  bottom: -16.79632249vmin;
				}*/

				.triangle:nth-child(4) {
				  bottom: 30.70367751vmin;
				  left: 6.9984677vmin;
				}

				.triangle:nth-child(4):hover {
				    left:6.9984677vmin;
				    z-index: 7;
				}

				.triangle:nth-child(5) {
				  bottom: 30.70367751vmin;
				  right: 6.9984677vmin;
				}

				.triangle:nth-child(5):hover {
				    right:6.9984677vmin;
				    z-index: 7;
				}


					.menu-list {
						font-size: 4.7vmin;
					}

/*End of the title section figures params */


/* Skills section modifications*/

			.skills-arrow:nth-of-type(5) {
				display: none;
			}

			.skills-arrow:nth-of-type(6){
				display: none;
			}

/*Contact section*/

			.figure {
				background:transparent;
			}

			.figure::after {
				background: transparent;
			}
			.figure::before{
				background: transparent;
			}

				.figure-circle {
					background: rgb(207, 168, 162);
				}


				/*Projects*/
				.load {
					color: rgb(207, 168, 162);
				}
			}


	@media all and (max-width:1025px) {

			.sublist-options li {
				padding-bottom:3%;
				font-size: 5.5vmin;
			}
			.close-cross {
	    width: 12vmin;
	    height: 12vmin;
		}

		.close-cross::before, .close-cross::after {
			width:1.5vmin;
			height:12vmin;
		}
	}

	@media all and (max-width:500px) {
		.projects-list {
			width:80%;
		}
			.projects-wrapper {
				margin-top:22%;
			}
				.projects-item {
					width: 230.6px;
					height:138.5px;
				}
				.links {
					font-size:25px;
					line-height: 25px;
				}
	}

	@media all and (orientation:portrait) and (max-width:768px) {
		.sublist-options li {
			padding:4% 0;
		}
	}
	@media all and (min-width:768px) and (max-width:1125px) {
		.projects-wrapper {
			margin-top:16%;
		}
			.projects-list {
				width:85%;
			}
	}
