		@media all and (orientation: portrait) {

			body {
				background: rgb(207, 168, 162);
			}
			.hello {
				margin-top:25vmin;
			}

			.presentation p {
				padding-bottom:5px;
			}

			/*Title section figures params*/

			.container-portrait {
			  width: 95vmin;
			  height: 95vmin;
			}

			.container-title-color {
			  background: rgb(207, 168, 162);
			}

			.container-title-color::before, .container-title-color::after {
			  background: #e086d4;
			}

			.container-portrait::before, .container-portrait::after {
			  display: none;
			}


				.square {
				  width: 47.5vmin;
				  height: 47.5vmin;
				}

				.square::before, .square::after {
				  width: 1.2%;
				  height: 67.165vmin;
				}
				.square-slide::before, .square-slide::after {
					background: rgb(117,93,86);
				}

				  .question-container {
						top:17.75vmin;
						left:17.75vmin;
					}

				.triangle-slide{
					background: rgb(117,93,86);
				}

				.triangle {
				  width: 33.59264498vmin;
				  height: 33.59264498vmin;
				}

				.triangle:nth-child(2) {
				  top: 6.9984677vmin;
				  left: 30.70367751vmin;
				}

				/*.triangle:nth-child(2):hover {
				  top: -16.79632249vmin;
				}*/

				.triangle:nth-child(3) {
				  bottom: 6.9984677vmin;
				  left: 30.70367751vmin;
				}

				/*.triangle:nth-child(3):hover {
				  bottom: -16.79632249vmin;
				}*/

				.triangle:nth-child(4) {
				  bottom: 30.70367751vmin;
				  left: 6.9984677vmin;
				}

				.triangle:nth-child(4):hover {
				    left:6.9984677vmin;
				    z-index: 7;
				}

				.triangle:nth-child(5) {
				  bottom: 30.70367751vmin;
				  right: 6.9984677vmin;
				}


				.triangle:nth-child(5):hover {
				    right:6.9984677vmin;
				    z-index: 7;
				}


					.menu-list {
						font-size: 4.7vmin;
					}

/*End of the title section figures params */


/* Skills section modifications*/

			.skills-arrow:nth-of-type(5) {
				display: none;
			}

			.skills-arrow:nth-of-type(6){
				display: none;
			}

/*Contact section*/

			.figure {
				background:transparent;
			}

			.figure::after {
				background: transparent;
			}
			.figure::before{
				background: transparent;
			}

				.figure-circle {
					background: rgb(207, 168, 162);
				}


				/*Prijects*/
				.load {
					color: rgb(207, 168, 162);
				}
				.projects-tip {
					color:rgb(207, 168, 162);
				}
		}


	@media all and (max-width:900px) {
			.close-cross {
	    width: 12vmin;
	    height: 12vmin;
		}

		.close-cross::before, .close-cross::after {
			width:1.5vmin;
			height:12vmin;
		}
	}

/*Bx-slider*/

		@media all and (orientation: landscape) and (max-width: 750px) {
			.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
				bottom: -35px !important;
			}
		}

		@media all and (min-width: 1281px) {
			.bxslider-position img {
				min-width:100%;
			}
		}
