/*General rules*/

.hidden {
	text-indent:-99999999999em;
	height:0px;
	width:0px;
}

a {
	text-decoration: none;
}

html {overflow-x:hidden;}

body {
	background:rgb(184,205,205);
	position: relative;
	font-size: 16px;
	font-family: 'Orbitron', sans-serif;
	overflow-x:hidden;
}


section {
	position: relative;
	height: 100vh;
}

.section-flex {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
}




			/*Corners*/


		.corner {
			width: 0;
			height: 0;
			border-style: solid;
			position:absolute;
			z-index: 4;
		}
		.corner:nth-child(2) {
			border-color: rgba(117,93,86,.7) transparent transparent transparent;
			border-width: 35vmin 35vmin 0 0;
			top:0;
			left:0;
		}

		.corner:nth-child(3) {
			border-color: transparent rgba(117,93,86,.7) transparent transparent;
			border-width: 0 35vmin 35vmin 0;
			top:0;
			right:0;
		}

		.corner:nth-child(4) {
			border-color: transparent transparent transparent rgba(117,93,86,.7);
			border-width: 35vmin 0 0 35vmin;
			bottom:0;
			left:0;
		}

		.corner:nth-child(5) {
			border-color: transparent transparent rgba(117,93,86,.7) transparent;
			border-width: 0 0 35vmin 35vmin;
			bottom:0;
			right:0;
		}


		/*Section - About me*/

	.about-me, .loader {
		width: 100vw;
		position: absolute;
		z-index: 9999999;
		background: rgba(0,0,0,.9);
		font-size: 6vmin;
	}

		.hello {
			width:0;
			margin:10vmin 5vmin 5vmin 0vmin;
			padding:8px 1px;
			white-space: nowrap;
			overflow: hidden;
			text-align: center;
			color:rgb(177,255,200);
			-webkit-animation:typing 10s;
			animation:typing 10s;
			-webkit-animation-delay: .5s;
			animation-delay: .5s;
			-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;

		}


		@-webkit-keyframes typing{
			from {
				width:0;
			}
			to {
				width: 100%;
			}
		}

		@keyframes typing{
			from {
				width:0;
			}
			to {
				width: 100%;
			}
		}

		.presentation {
			height:0;
			margin: 10vmin 5vmin 0vmin 5vmin;
			overflow: hidden;
			-webkit-animation:unroll 7s linaer;
			animation:unroll 7s linear;
			-webkit-animation-delay: 4s;
			animation-delay: 4s;
			-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
		}

		@-webkit-keyframes unroll {
			to {
				height:100%;
			}
		}

		@keyframes unroll {
			to {
				height:100%;
			}
		}

		.presentation li {
			padding:1px;
			color:rgb(204,131,94);
		}

		.presentation li:nth-of-type(2n) {
			text-align: right;
			color:rgb(39,82,196);
		}

		.presentation li:last-of-type {
			text-align: center;
			color:rgb(177,255,200);
			margin-top:10vmin;
		}

			.presentation-contact {
				display: inline-block;
				color:rgb(177,255,200);
				padding:5px;
			}

			.presentation-contact::after {
				content: "";
				display:block;
				height:1px;
				width:0;
				background:rgb(177,255,200);
				-webkit-animation:typing 2s;
				animation:typing 2s;
				-webkit-animation-delay:8.5s;
				animation-delay:8.5s;
				-webkit-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
			}




		.close-cross {
			width: 8vmin;
			height: 8vmin;
			position: absolute;
			top:2%;
			right:2%;
			cursor: pointer;
		}

		.close-cross::before, .close-cross::after {
			content: "";
			display: block;
			width: 1vmin;
			height: 7vmin;
			background:rgb(177,255,200);;
			position: absolute;
			left:45%;
			top:5%;
		}

		.close-cross::before {
			-webkit-transform:rotate(45deg);
			transform:rotate(45deg);
		}
		.close-cross::after {
			-webkit-transform:rotate(45deg);
			transform:rotate(-45deg);
		}

		/*Section - Title*/

			.paragraph {
				position:absolute;
				color:rgb(0,0,0);
				font-size: 5vmin;
				z-index: 4;
			}

			.paragraph-1 {
				top:5%;
				left:0%;
				-webkit-transform-origin: top right;
				transform-origin: top right;
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}

			.paragraph-2 {
				top:6%;
				right:1%;
				-webkit-transform-origin: top left;
				transform-origin: top left;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			.paragraph-3 {
				bottom:4%;
				left:1%;
				-webkit-transform-origin: bottom right;
				transform-origin: bottom right;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			.paragraph-4 {
				bottom:3%;
				right:1%;
				-webkit-transform-origin: bottom left;
				transform-origin: bottom left;
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}

			/*figures menu*/

			.container {
			  width: 75vmin;
			  height: 75vmin;
			  margin: auto;
			  position: relative;
			  z-index: 3;
			  display: flex;
			}

			.container-title-color {
			  background: rgb(200,240,250);
			}

			.container-title-color::before, .container-title-color::after {
			  /*background: #e086d4;*/
				background: rgb(156,131,141);
			}

			.container::before, .container::after {
			  content: "";
			  display: block;
			  width: 53.04102vmin;
			  height: 53.04102vmin;
			  position: absolute;
			  z-index: 4;
			  -webkit-transform: rotate(45deg);
			  transform: rotate(45deg);
			  top: 14.7%;
			}

			.container::before {
			  left: -26.52051vmin;
			}

			.container::after {
			  right: -26.52051vmin;
			}

				.square {
				  width: 37.5vmin;
				  height: 37.5vmin;
				  margin: auto;
				  position: relative;
				  z-index: 6;
				  background: #f8f1d4;
				}

				.square::before, .square::after {
				  content: "";
				  width: 1.2%;
				  height: 53.025vmin;
				  position: absolute;
				  -webkit-transform-origin: top;
				  transform-origin: top;
				  background: rgb(117,93,86);
				  border-radius: 50%;
				}

				.square::before {
				  left: 99.5%;
				  -webkit-transform: rotate(45deg);
				  transform: rotate(45deg);
				}

				.square::after {
				  right: 99.5%;
				  -webkit-transform: rotate(-45deg);
				  transform: rotate(-45deg);
				}

				.triangle {
				  width: 26.52051vmin;
				  height: 26.52051vmin;
				  position: absolute;
				  z-index: 5;
				  -webkit-transform: rotate(45deg);
				  transform: rotate(45deg);
				  transition: all 1.3s;
				  background: rgb(114,76,65);
				}

				.triangle:nth-child(2) {
				  top: 5.52511vmin;
				  left: 24.23975vmin;
				}

				.triangle:nth-child(2):hover {
				  /*top: -13.26025vmin;*/
					z-index: 7;
				}

				.triangle:nth-child(3) {
				  bottom: 5.52511vmin;
				  left: 24.23975vmin;
				}

				.triangle:nth-child(3):hover {
				  /*bottom: -13.26025vmin;*/
					z-index: 7;
				}

				.triangle:nth-child(4) {
				  bottom: 24.23975vmin;
				  left: 5.52511vmin;
				}

				.triangle:nth-child(4):hover {
				  left: -13.26025vmin;
				}

				.triangle:nth-child(5) {
				  bottom: 24.23975vmin;
				  right: 5.52511vmin;
				}

				.triangle:nth-child(5):hover {
				  right: -13.26025vmin;
				}

					.menu-list {
						display:block;
						font-size: 3.5vmin;
						color:rgb(248,241,212);
						text-decoration: none;
						position: absolute;
						transition:all 1.3s;
					}
					.menu-list::before {
						content: '';
						position: absolute;
						top: -15px; right: -15px;
						bottom: -15px; left: -15px;
					}

					.menu-list-1 {
						-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);
						top:25%;
						left:0%;
					}

					.menu-list-2 {
						-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);
						bottom:26%;
						right:5%;
					}

					.menu-list-3 {
						-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
						top:60%;
						right:50%;
					}

					.menu-list-4 {
						-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
						top:30%;
						left:45%;
					}


						/*Menu animations*/

					.triangle:nth-child(2):hover .menu-list-1 {
						top:43%;
						left:16%;
					}

					.triangle:nth-child(3):hover .menu-list-2 {
						bottom:45%;
						right:22%;
					}

					.triangle:nth-child(4):hover .menu-list-3 {
						-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);
						top:45%;
						right:35%;
					}

					.triangle:nth-child(5):hover .menu-list-4 {
						-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);
						top:42%;
						left:25%;
					}


	/*Section no 2 - About me*/


	/*Section no 3 - Skills*/


.skills {
	background: rgb(240,210,210);
}



										/*Arrows*/

	.skills-arrow {
		width:15vmin;
		height: 15vmin;
		position: absolute;
		background: rgb(104,76,110);
		border-radius: 50%;
		cursor:pointer;
		top:42.5%;
	}

	.skills-arrow:nth-of-type(5) {
		left:2%;
	}

	.skills-arrow:nth-of-type(6){
		right:2%;
	}


	.skills-arrow:before {
		content: "";
		width: 16vmin;
		height: 16vmin;
		position: absolute;
		top:8%;
		background:rgb(240,210,210);
		border-radius: 50%;
	}

	.skills-arrow:nth-of-type(5):before {
		left:15%;
	}

	.skills-arrow:nth-of-type(6):before {
		right:15%;
	}

	.skills-arrow:after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
	}

	.skills-arrow:nth-of-type(5):after {
		top:-8%;
		right:10%;
		border-width: 2vmin 0 2vmin 5vmin;
		border-color: transparent transparent transparent rgb(104,76,110);
	}

	.skills-arrow:nth-of-type(6):after {
		top:-8%;
		left:10%;
		border-width: 2vmin 5vmin 2vmin 0;
		border-color: transparent rgb(104,76,110) transparent transparent;
	}

	.skills-click {
		position:absolute;
		top:50%;
		left:50%;
		-webkit-transform:translate(-50%, -50%);
		transform:translate(-50%, -50%);
		font-size: 6vmin;
		color:rgb(104, 76, 110);
	}



							/*Cricles-skills set*/

	.skills-container {
		width: 90vmin;
		height: 90vmin;
		margin:auto;
		position: relative;
		border-radius: 50%;
		z-index: 3;
		cursor: pointer;
	}


		@keyframes turning {
			to { transform: rotate(1turn); }
		}

		@keyframes inverse {
			to { transform: rotate(-1turn); }
		}

	.skills-container-animation {
		-webkit-animation: turning 30s infinite linear;
		animation: turning 30s infinite .2s linear;
	}

	.skills-container-animation-2 {
		-webkit-animation: inverse 30s infinite linear;
		animation: inverse 30s infinite .2s linear;
	}

	.paused {
		-webkit-animation-play-state: paused;
		animation-play-state: paused;
	}



		.skills-details {
			position: absolute;
			display: flex;
			width:30%;
			height:30%;
			-webkit-animation: inherit;
			animation: inherit;
			-webkit-animation-direction: reverse;
			animation-direction: reverse;
			border-radius:50%;
		}

		.skills-details:first-child {
			background:rgb(117,93,86);
			top:26%;
			left:1%;
		}

		.skills-details:nth-child(2) {
			background:rgb(57,198,207);
			top:1%;
			left:25%;
		}

		.skills-details:nth-child(3) {
			background:rgb(145,164,175);
			top:10%;
			left:60%;
		}

		.skills-details:nth-child(4) {
			background:rgb(170,200,184);
			bottom:10%;
			right:60%;
		}

		.skills-details:nth-child(5) {
			background:rgb(65,60,107);
			bottom:1%;
			right:25%;
		}


		.skills-details:nth-child(6) {
			background:rgb(255,240,255);
			bottom:25%;
			right:1%;
		}



			.skills-paragraph {
				font-size: 4vmin;
				color: rgb(240,210,210);
				margin:auto;
			}



							/*Projects section*/

.loader {

}

.load {
	width:0;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	margin: auto;
	padding:7px;
	color:rgb(57, 107, 136);
	-webkit-animation:typing 3.3s;
	animation:typing 3.3s;
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

/*Class to fix some IE issues*/
.p-flex {
	display:flex;
	align-items: center;
	justify-content: center;
}

.projects-body {
	background:
	repeating-linear-gradient(
		to top left,
		transparent,
		transparent 5em,
		rgba(117,93,86,.5) 5em,
		rgba(117,93,86,.5) 10em,
		transparent 10em,
		transparent 15em,
		rgba(40,125,176,.5) 15em,
		rgba(40,125,176,.5) 20em
	),
	repeating-linear-gradient(
		to top right,
		transparent,
		transparent 5em,
		rgba(150,150,219,.5) 5em,
		rgba(150,150,219,.5) 10em,
		transparent 10em,
		transparent 15em,
		rgba(150,178,193,.5) 15em,
		rgba(150,178,193,.5) 20em
	), black;
}


	.slider-wrapper {
		width: 100%;
		height: 100%;
	}
		.projects-slider {
			width:70%;
			margin:auto;
		}

/*Projects arrow */
		.arrow-container {
			width: 12vmin;
			height: 12vmin;
			background: rgb(0, 60, 88);
			position: absolute;
			top:2%;
			left:2%;
			border:3px solid white;
			overflow: hidden;
		}

		.arrow-container a {
		 	display: block;
		 	width: inherit;
		 	height:inherit;
		 	position: absolute;
		 	left:0;
		 	z-index: 99999999999;
		 }

		 .projects-arrow {
		 	width:10vmin;
			height: 10vmin;
			background: rgb(255,255,255);
			border-radius: 50%;
			cursor:pointer;
			margin: auto;
			position: absolute;
			top:25%;
			left:10%;
		 }


		 		.projects-arrow:before {
					content: "";
					width: 11vmin;
					height: 11vmin;
					position: absolute;
					top:10%;
					left:-20%;
					background:rgb(0, 60, 88);
					border-radius: 50%;
				}

				.projects-arrow:after {
					content: "";
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					top:-14%;
					left:0%;
					border-width: 2vmin 4vmin 2vmin 0;
					border-color: transparent rgb(255,255,255) transparent transparent;
				}


	.projects-links {
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(0, 60, 88,.8);
		opacity: 0;
		transition: opacity 1.5s;
	}

	.projects-links:hover {
		opacity: 1;
	}

	.projects-links::before {
		content:"";
		width: 1px;
		height: 100%;
		position: absolute;
		left:49.7%;
		background:white;
	}

		.page-link, .github-link {
			display: block;
			border:2px solid white;
			color:white;
			font-size: 6vmin;
			position: absolute;
			top:20%;
		}

		.page-link {
			left:10%;
			padding:3% 4%;
		}
		.github-link {
			right:10%;
			padding:3% 2%;
		}


			/*Contact section*/

.contact {
	/*background: rgb(207,120,162);*/
	background: inherit;
}


	.container-contact-color, .container-contact-color::before, .container-contact-color::after {
		background: inherit;
	}

	.container-contact-color::before {
		border-right:.3px dashed rgb(30, 0, 0);
		border-top:.3px dashed rgb(30, 0, 0);
	}

	.container-contact-color::after {
		border-left:.3px dashed rgb(30, 0, 0);
		border-bottom:.3px dashed rgb(30, 0, 0);
	}


		.contact-data {
			font-size: 4vmin;
			color:rgb(30, 0, 0);
			position: absolute;
			z-index:7;
		}

		.contact-data:nth-of-type(1) {
			left:25%;
			top:12%;
		}
		.contact-data:nth-of-type(2) {
			left:40%;
			top:25%;
		}
		.contact-data:nth-of-type(3) {
			right:-29%;
			top:48%;
		}
		.contact-data:nth-of-type(4) {
			left:40%;
			bottom:25%;
		}
		.contact-data:nth-of-type(5) {
			left:33%;
			bottom:12%;
		}



			/*Contact figure*/

.scene {
  width: 25vmin;
  height: 25vmin;
  position:absolute;
  top:34%;
  left:-6%;
}

.scene::before, .scene::after {
	content:"";
	display: block;
	z-index: 6;
	border:2px solid rgb(20, 0, 0);
	position: absolute;
	height: inherit;
	width: 57%;
	border-radius: 30px;
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center;
}

.scene::before {
	left:0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background: rgba(40,125,176,.5);
}

.scene::after {
	right:0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: rgba(117,93,86,.5);
}

	.scene-circle {
		width: 50%;
		height:50%;
		position: absolute;
		top:40%;
		left:24%;
		background: rgb(19,150,180);
		border:2px solid black;
		border-radius:50%;
		z-index: 7;
	}
