// Title section figures
// Colors have been changed

      $width1:80vmin;


      @function side($length) {
        $result: $length / 1.414;
        @return $result;
      }

    .container {
        width: $width1;
        height: $width1;
        margin:auto;
        position:relative;
        z-index: 3;
        display:flex;
    }

    .container-title-color {
      background: rgb(200,240,250);
    }

    .container-title-color::before, .container-title-color::after {
      // background:rgb(224,134,212);
      background: rgb(156,131,141);
    }

    .container::before, .container::after {
      content:"";
      display: block;
      width: side($width1);
      height: side($width1);
      position:absolute;
      z-index: 4;
      -webkit-transform:rotate(45deg);
      transform:rotate(45deg);
      top:14.7%;
    }

    .container::before{
      left:-(side($width1)/2);
    }
    .container::after {
      right:-(side($width1)/2);
    }

        .square {
          width:$width1 / 2;;
          height:$width1 / 2;
          margin:auto;
          position:relative;
          z-index: 6;
          background: rgb(248,241,212);
        }

        .square::before, .square::after {
          content:"";
          width:1.2%;
          height:($width1 / 2) * 1.414;
          position:absolute;
          -webkit-transform-origin:top;
          transform-origin:top;
          background:rgb(117,93,86);
          border-radius: 50%;
        }

        .square::before {
          left:99.5%;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        .square::after {
          right:99.5%;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }


        .triangle {
          width:side($width1 / 2);
          height:side($width1 / 2);
          position: absolute;
          z-index: 5;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          transition:all 1.3s;
          background: rgb(117,93,86);
        }

        .triangle:nth-child(2) {
          top:side($width1 / 9.6);
          left:($width1 / 2 ) - side($width1 / 4);
        }

        .triangle:nth-child(2):hover {
          top:-(side($width1 / 4));
        }


        .triangle:nth-child(3) {
          bottom:side($width1 / 9.6);
          left:($width1 / 2 ) - side($width1 / 4);
        }
        .triangle:nth-child(3):hover {
          bottom:-(side($width1 / 4));
        }

        .triangle:nth-child(4) {
          bottom:($width1 / 2 ) - side($width1 / 4);
          left:side($width1 / 9.6);
        }

        .triangle:nth-child(4):hover {
          left:-(side($width1 / 4));
        }
        .triangle:nth-child(5) {
          bottom:($width1 / 2 ) - side($width1 / 4);
          right:side($width1 / 9.6);
        }

        .triangle:nth-child(5):hover {
          right:-(side($width1 / 4));
        }
