$size: 25vmin; // cube length

.scene {
  margin: 100px;
  width: $size;
  height: $size;
  
  perspective: 600px;
}
.cube {
  position: relative;
  width: inherit;
  height: inherit;
  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  animation: cube-rotation 3s linear infinite;
}
.cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
  background: red;
  opacity: 0.5;
}

.cube-face-front {
  background: yellow;
  -webkit-transform: translate3d(0, 0, $size/2);
  transform: translate3d(0, 0, $size/2);
} 
.cube-face-back {
  background: orange;
  -webkit-transform: rotateY(180deg) translate3d(0, 0, $size/2);
  transform: rotateY(180deg) translate3d(0, 0, $size/2);
} 
.cube-face-left {
  background: green;
  -webkit-transform: rotateY(-90deg) translate3d(0, 0, $size/2);
  transform: rotateY(-90deg) translate3d(0, 0, $size/2);
} 
.cube-face-right {
  background: magenta;
  -webkit-transform: rotateY(90deg) translate3d(0, 0, $size/2);
  transform: rotateY(90deg) translate3d(0, 0, $size/2);
} 
.cube-face-top {
  background: blue;
  -webkit-transform: rotateX(90deg) translate3d(0, 0, $size/2);
  transform: rotateX(90deg) translate3d(0, 0, $size/2);
} 
.cube-face-bottom {
  background: red;
  -webkit-transform: rotateX(-90deg) translate3d(0, 0, $size/2);
  transform: rotateX(-90deg) translate3d(0, 0, $size/2);
}


@keyframes cube-rotation {
  0% {
    -webkit-transform: rotateX(125deg) rotateY(0deg);
    transform: rotateX(125deg) rotateY(0deg);
  }
   50% {
    -webkit-transform: rotateX(150deg) rotateY(180deg);
    transform: rotateX(150deg) rotateY(180deg);
  }
   100% {
    -webkit-transform: rotateX(170deg) rotateY(360deg);
    transform: rotateX(170deg) rotateY(360deg);
  }
}




// Title section figures 

      $width1:80vmin;
      
      
      @function side($length) {
        $result: $length / 1.414;
        @return $result;
      }

    .container {
        width: $width1;
        height: $width1;
        margin:auto;
        position:relative;
        z-index: 3;
        display:flex;
    }

    .container-title-color {
      background: rgb(245,214,154);
    }

    .container-title-color::before, .container-title-color::after {
      background:rgb(224,134,212);
    }

    .container::before, .container::after {
      content:"";
      display: block;
      width: side($width1);
      height: side($width1);
      position:absolute;
      z-index: 4;
      -webkit-transform:rotate(45deg);
      transform:rotate(45deg);
      top:14.7%;
    }

    .container::before{
      left:-(side($width1)/2);
    }
    .container::after {
      right:-(side($width1)/2);
    }

        .square {
          width:$width1 / 2;;
          height:$width1 / 2;
          margin:auto;
          position:relative;
          z-index: 6;
          background: rgb(248,241,212);
        }

        .square::before, .square::after {
          content:"";
          width:1.2%;
          height:($width1 / 2) * 1.414;
          position:absolute;
          -webkit-transform-origin:top;
          transform-origin:top;
          background:rgb(80,0,0);
          border-radius: 50%;
        }

        .square::before {
          left:99.5%;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        .square::after {
          right:99.5%;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }


        .triangle {
          width:side($width1 / 2);
          height:side($width1 / 2);
          position: absolute;
          z-index: 5;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          transition:all 1.3s;
          background: rgb(80,0,0);
        }

        .triangle:nth-child(2) {
          top:side($width1 / 9.6);
          left:($width1 / 2 ) - side($width1 / 4);
        }

        .triangle:nth-child(2):hover {
          top:-(side($width1 / 4));
        }


        .triangle:nth-child(3) {
          bottom:side($width1 / 9.6);
          left:($width1 / 2 ) - side($width1 / 4);
        }
        .triangle:nth-child(3):hover {
          bottom:-(side($width1 / 4));
        }

        .triangle:nth-child(4) {
          bottom:($width1 / 2 ) - side($width1 / 4);
          left:side($width1 / 9.6);
        }

        .triangle:nth-child(4):hover {
          left:-(side($width1 / 4));
        }
        .triangle:nth-child(5) {
          bottom:($width1 / 2 ) - side($width1 / 4);
          right:side($width1 / 9.6);
        }

        .triangle:nth-child(5):hover {
          right:-(side($width1 / 4));
        }
